
@media screen and (mas-width:800px){
    
}
.nav-item{
    padding-left: 6px;
}
#sticky{
    position: sticky;
    top: 0;
    padding: 0px;
}   
.img-rounded{
    width: 50%;
    padding: 5px;
}
.tags div{
    display: inline-block;
    width: 49%;
}
p{
    color: white;
}
.text-reset {
    text-decoration: none;
}
.text-uppercase{
    color: white;
    text-decoration: unset;
}
footer{
 position: relative;
 bottom: 0%;
 right: 0%;
 left: 0%;
}